.container-options {
  background-color: var(--color-primary);
  height: 100%;
  padding-top: 10px;
  text-align: center;
  color: var(--color-text-dark);
}

.container-list-items {
  margin-top: 20px;
}

.option-list {
  padding: 10px 0;
  cursor: pointer;
}

.option-list span {
  margin-left: 10px;
}
