.container-page {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.body-item {
  flex: 1;
  min-height: 0;
  display: flex;
}

.container-main {
  background-image: url("../assets/backgorund_main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
