.cont-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  width: 85%;
  border-radius: 3em;
  margin: 0 auto;
}

.inp-search {
  border: none;
  height: 20px;
  outline: none;
  margin-left: 10px;
  font-size: 15px;
  width: 50%;
}
