:root {
  --font-tittle: "genos", sans-serif;
  --font-text: "quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text);
  font-size: 12px;
}
